{{ file_managed_by_ansible }}

# RHEL-10-701130 | RHEL 10 must implement address space layout randomization (ASLR) to protect its memory from unauthorized code execution.
kernel.randomize_va_space = 2
