{{ file_managed_by_ansible }}

# 800250 | RHEL 10 must prevent Internet Protocol version 4 (IPv4) Internet Control Message Protocol (ICMP) redirect messages from being accepted by default.
net.ipv4.conf.default.accept_redirects = 0
