{{ file_managed_by_ansible }}

# RHEL 10 STIG SSHD Config for STIG
# RHEL-10-500215 | RHEL 10 must log SSH connection attempts and failures to the server.
LogLevel {{ rhel10stig_sshd_config_loglevel }}
